*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    background-image: url('../assets/Pasted\ image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.container{
    height: 800px;
    width: 800px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 34px;
    background-image: url('../assets/2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #33e709
}
.container img{
    height: 220px;
    width: 220px;
}

#pokemon-select{
    font-size: 20px;
    font-family: inherit;
    padding: 10px;
    margin-right: 20px;
    border: none;
    background: #6666;
    border-radius: 8px;
}
#get-pokemon{
    font-size: 20px;
    font-family: inherit;
    padding: 10px;
    background: transparent;
    border: none;
    background: #6666;
    border-radius: 8px;
}
#container-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container-description h2{
    
    font-size: 60px;
    margin-bottom: 76px;
}
#container-description p{
    margin: 10px 0;
    font-size: 40px;
}